<link rel="stylesheet" href="/css/add_new_question.css">
<link
rel="stylesheet"
href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
/>    
<%- include('../partials/header'); %>

 
<body>
  <!--Main Navigation-->
  <%- include('../partials/sidebar'); %>
  <!--Main Navigation-->
    

  <main style="margin-top: 58px"> 
    <div class="container pt-4">
      
        

<div class="container mt-4 mb-4">
    <div class="row">
        







        <div class="row">
            <% if(success_msg != ''){  %>
            
                
                    <div class="alert alert-danger alertDialog" role="alert">
                        <%= success_msg %>
                      </div>
                      <%  }else { %>    
            
            <%   } %>
        </div>
        <div class="col-12">
            
          
           
            <form 
                
                action="/quiz/category/quiztitle/<%= quizTitleId %>/edit_question/<%= question._id %>?_method=PUT"
                method="POST"
                >
                <div class="form-group">
                    <label for="question"> Question: </label>
                    <input 
                    class="form-control" 
                    type="text" 
                    name="question" 
                    id="question" 
                    value="<%= question.question %>"
                    placeholder="type question here..." 
                    required>   
                    <label for="question_image">Question Image URL:</label>  
                    <input 
                        class="form-control" 
                        id="question_image"
                        type="text" 
                        value="<%= question.question_image %>" 
                        name="question_image">
                        <label for="answer_image">Answer Image URL:</label>  
                        <input 
                        class="form-control" 
                        type="text" 
                        id="answer_image"
                        value="<%= question.answer_image %>" 
                        name="answer_image">

                </div>
            
        </div>
        </div>

       


        <div class="row">
                <div class="col-10"> 
                    <input 
                    type="text" 
                    name="answer" 
                    id="text" 
                    class="form-control" 
                    value="<%= question.answers[0].text %>"
                    placeholder="A." 
                    required>
                </div>
        <div class="col-2">
            <select name="correct" id="correct" class="form-control"  >
                <option value="<%=question.answers[0].correct %>" selected > 
                   <% if(question.answers[0].correct === true){ %>
                        Correct
                        <% }else { %>
                        Wrong
                        <% } %>
                    
                 </option>
                <option value="true">Correct</option>
                <option value="false">Wrong</option>
            </select>
        </div>
                
    </div>
    <div class="row">
        <div class="col-10"> 
            <input 
                type="text" 
                name="answer" 
                id="text" 
                class="form-control" 
                placeholder="B." 
                value="<%= question.answers[1].text %>"
                required>
            </div>
        <div class="col-2">
            <select name="correct" id="correct" class="form-control">
                <option value="<%=question.answers[1].correct %>" selected  > 
                    <% if(question.answers[1].correct === true){ %>
                         Correct
                         <% }else { %>
                         Wrong
                         <% } %>
                     
                  </option>
                <option value="true">Correct</option>
                <option value="false">Wrong</option>
            </select>
        </div>
                
    </div>
    <div class="row">
        <div class="col-10"> 
            <input 
                type="text" 
                name="answer" 
                id="text" 
                class="form-control" 
                placeholder="C." 
                value="<%= question.answers[2].text %>"
                required></div>
        <div class="col-2">
            <select name="correct" id="correct" class="form-control">
                <option value="<%=question.answers[2].correct %>" selected > 
                    <% if(question.answers[2].correct === true){ %>
                         Correct
                         <% }else { %>
                         Wrong
                         <% } %>
                     
                  </option>
                <option value="true">Correct</option>
                <option value="false">Wrong</option>
            </select>
        </div>
        
    </div>
    <div class="row">
        <div class="col-10"> 
            <input 
                type="text" 
                name="answer"
                id="text" 
                class="form-control" 
                placeholder="D." 
                value="<%= question.answers[3].text %>"
                required></div>
        <div class="col-2">
            <select name="correct" id="correct" class="form-control">
                
                <option value="<%=question.answers[3].correct %>" selected> 
                    <% if(question.answers[3].correct === true){ %>
                         Correct
                         <% }else { %>
                         Wrong
                         <% } %>
                     
                  </option>
                <option value="true">Correct</option>
                <option value="false">Wrong</option>
            </select>
        </div>
       
    </div>
    <div class="row">
        <div class="col-12">
            <label for="explanation">Explanation:</label>
            <textarea name="explanation" class="form-control">
                <%= question.explanation %>
            </textarea>
        </div>
        
    </div>
    <br>
    <input type="submit" value="Save" class="btn btn-success btn-lg">
</form>
    <a href="/quiz/category/quiztitle/<%= quizTitleId %>/viewquestions" class="btn btn-primary"> Back</a>
</div>
      

        

      
        
    </div>
</main>
   







<script src="/js/user.js">

</script>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>


<script type="text/javascript">

$(document).ready(function () {
 
window.setTimeout(function() {
    $(".alert").fadeTo(1000, 0).slideUp(1000, function(){
        $(this).remove(); 
    });
}, 5000);
 
});
</script>
<%- include('../partials/footer'); %>





    












   

